<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test template</title>
    <link href="/styles.css" rel="stylesheet" />
    <link href="/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2>Informations sur : {{item.nom}}</h2>
    <p><strong>Description : </strong>{{item.description}}</p>
    <p><strong>type : </strong>{{item.type}}</p>
    <p><strong>rarete : </strong>{{item.rarete}}</p>
    <p><strong>levelRequis : </strong>{{item.levelRequis}} minimum</p>
    <p><strong>tauxDrop : </strong>{{item.tauxDrop}} %</p>
    <p><strong>img : </strong>{{item.img}}</p>
    <a href="/items/edit/{{item.id}}" class="btn btn-primary">Modifier</a>
    <a href="/items/delete/{{item.id}}" class="btn btn-danger">Supprimer</a>
</body>
</html>